/*repeated css variables will be here*/
:root {
    --cran: ##570303;
    --oran: rgb(253, 236, 205);
    --white: white;
    --green: rgb(13, 75, 13);
    
}

body {
    display: flex;
    flex-direction: column;
    line-height: 0.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: linear-gradient(#570303, #91430f);
    color: var(--white);
}
h1{
    font-size: 300%;
}
nav ul {
    display: flex;
    justify-content: space-between;
};

nav a {
    color: var(--oran);
}

nav a:hover{
    color: var(--white);
}