/*repeated css variables will be here*/
:root {
    --cran: rgb(90, 0, 8);
    --peac: rgb(212, 147, 24);
    --oran: rgb(253, 236, 205);
    --white: white;
    --green: rgb(13, 75, 13);
}

/*setting the body of the site with the following attributes*/
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*the header follows the following. background gif and the title is white*/
header{
    display: flex;
    background-image: url("https://c.tenor.com/P6SYovjQV0YAAAAC/autumn-leaves-falling.gif");
    border-bottom: var(--cran);
    border-width: thick;
    border-style: solid;
    color: var(--oran);
    font-size: 300%;
    border-width: 0cm;
}
/*center the title of the page*/
h1{
    margin: 0 auto;
}


/*the nav bar links use the following*/
/*the text is: bolded;spaced out flexible*/
nav {
    display: flex;
    background-color: var(--peac);
    justify-content : flex-end;
}

nav a {
    color: var(--cran);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center   
}

nav a:hover{
    color: var(--white);
}

aside {
    flex: 1;
    background-color: lightgreen;
    text-align: left;
}

p{
    line-height: initial;
}

h2{
    font-size: 50px;
}

.boo,
.horiseon,
.picture{
    padding: 5px;
    display: inline-flexbox;
    flex-wrap: wrap;
    background-color: rgb(4, 58, 4);
    transition: transform .2s;
    width: 150px;
    height: 150px;
    margin: 0 auto;  
}

.boo:hover,
.horiseon:hover,
.picture:hover{
    transform: scale(1.1); 
}
/*attributes for the contact me icons*/
.fa {
    padding: 20px;
    font-size: 50px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/*when curser hovers over the icons they become faded*/
.fa:hover{
    opacity: 0.7;
}

/*colouring the linkedin icon*/
.fa-linkedin{
    background: rgb(29, 109, 230);
    color: white;
}
/*editing the github icon*/
.fa-github{
    background: black;
    color: white;
}
/*editing the email icon*/
.fa-mail{
    background: rgb(133, 7, 150);
    color: white;
}